[build-system]
requires = ["poetry>=1.1"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "thisishappening"
version = "0.1.0"
description = "Locate, summarize, and visualize geotagged social media activity"
authors = ["Matt Mollison <matt.mollison@gmail.com>"]

[tool.poetry.dependencies]
emoji = "~1.6.3"
ftfy = "~6.1.1"
numpy = "~1.22.2"
pandas = "~1.4.1"
psycopg2-binary = "~2.9.3"
python-dotenv = "~0.19.2"
pytz = "~2021.3"
python = ">=3.9,<3.10"
scikit-learn = "~1.0.2"
scipy = "~1.8.0"
spacy = "~3.2.2"
sqlalchemy = "~1.4.31"
twython = "~3.9.1"
unidecode = "~1.3.3"

[tool.poetry.dependencies.en_core_web_sm]
url = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz"

[tool.poetry.dev-dependencies]
black = "~22.1.0"
flake8 = "~4.0.1"
isort = "~5.10.1"
mypy = "~0.931"
# pytest = "~7.0.1"
folium = "~0.12.1.post1"
jupyterlab = "~3.2.9"
matplotlib = "~3.5.1"
seaborn = "~0.11.2"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88
